# Dataset - Global

In [1]:
import pandas as pd

## Initialize

In [2]:
srcGlobal = "./time_series_covid19_confirmed_global.csv"
dest = "./time_series_covid19_confirmed_global_transformed.csv"

# Read data
globalDf = pd.read_csv(srcGlobal)
globalDf.head(20)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,1/19/21,1/20/21,1/21/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,53584,53584,53775,53831,53938,53984,54062,54141,54278,54403
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,64627,65334,65994,66635,67216,67690,67982,68568,69238,69916
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,102641,102860,103127,103381,103611,103833,104092,104341,104606,104852
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,8682,8818,8868,8946,9038,9083,9083,9194,9308,9379
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,18343,18425,18613,18679,18765,18875,18926,19011,19093,19177
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,176,176,184,184,187,189,189,190,190,192
6,NaN,Argentina,-38.416100,-63.616700,0,0,0,0,0,0,...,1744704,1757429,1770715,1783047,1791979,1799243,1807428,1819569,1831681,1843077
7,NaN,Armenia,40.069100,45.038200,0,0,0,0,0,0,...,162643,163128,163576,163972,164235,164586,164676,164912,165221,165528
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,118,118,118,118,118,118,118,118,118,118
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,5041,5043,5045,5057,5066,5074,5076,5079,5084,5083
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,91,93,93,93,93,93,93,95,96,97
11,Queensland,Australia,-27.469800,153.025100,0,0,0,0,0,0,...,1283,1287,1290,1291,1293,1294,1297,1299,1300,1303
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,590,590,591,593,593,593,593,594,596,596
13,Tasmania,Australia,-42.882100,147.327200,0,0,0,0,0,0,...,234,234,234,234,234,234,234,234,234,234
14,Victoria,Australia,-37.813600,144.963100,0,0,0,0,1,1,...,20414,20414,20414,20417,20424,20428,20432,20433,20433,20434
15,Western Australia,Australia,-31.950500,115.860500,0,0,0,0,0,0,...,879,881,884,886,887,887,888,888,888,890
16,NaN,Austria,47.516200,14.550100,0,0,0,0,0,0,...,383833,385750,389260,390788,392511,393778,394939,396425,398096,399798
17,NaN,Azerbaijan,40.143100,47.576900,0,0,0,0,0,0,...,225346,225820,226200,226549,226951,227273,227391,227696,228028,228246
18,NaN,Bahamas,25.025885,-78.035889,0,0,0,0,0,0,...,8004,8011,8011,8021,8032,8032,8067,8068,8075,8088
19,NaN,Bahrain,26.027500,50.550000,0,0,0,0,0,0,...,96195,96470,96812,97020,97268,97607,97940,98260,98573,98878

## Data Manipulation

In [3]:
# Renaming columns
globalDf.rename(columns = {
    "Province/State": "Province_State", 
    "Country/Region": "Country_Region"
}, inplace = True)

# Name the "Province_State" as "Country_Region" if marked as NaN
globalDf["Province_State"] = globalDf["Province_State"].mask(pd.isnull, globalDf["Country_Region"])

# Derive confirmed cases per day and attach back to the source dataframe
locationsDf = globalDf.iloc[:, :4]
datesDf = globalDf.iloc[:, 4:].diff(axis = 1)
diffDf = pd.concat([locationsDf, datesDf], axis = 1)

# Transform spreading "date & confirmed cases" data into "Date" adn "Confirmed Cases"
globalDf = diffDf.melt(
    id_vars = ["Province_State", "Country_Region", "Lat", "Long"],
    var_name = "Date",
    value_name = "Confirmed Cases")

In [4]:
globalDf

,Province_State,Country_Region,Lat,Long,Date,Confirmed Cases
0,Afghanistan,Afghanistan,33.939110,67.709953,1/22/20,NaN
1,Albania,Albania,41.153300,20.168300,1/22/20,NaN
2,Algeria,Algeria,28.033900,1.659600,1/22/20,NaN
3,Andorra,Andorra,42.506300,1.521800,1/22/20,NaN
4,Angola,Angola,-11.202700,17.873900,1/22/20,NaN
...,...,...,...,...,...,...
99913,Vietnam,Vietnam,14.058324,108.277199,1/21/21,2.0
99914,West Bank and Gaza,West Bank and Gaza,31.952200,35.233200,1/21/21,473.0
99915,Yemen,Yemen,15.552727,48.516388,1/21/21,0.0
99916,Zambia,Zambia,-13.133897,27.849332,1/21/21,1264.0
99917,Zimbabwe,Zimbabwe,-19.015438,29.154857,1/21/21,639.0

## Save Dataframe

In [5]:
globalDf.to_csv(dest, index = False)